/*fonts*/
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono|Rubik');

/*navbar*/

body {
    font-family: 'Roboto Mono', monospace;
}

@media (max-width: 575px){
    body{
        text-align: center;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Rubik', sans-serif;
}

p {
    margin: 20px 0;
    font-size: 18px;
}

.row {
    max-width: 1200px;
    margin: 0 auto;
}

.navbar {
    margin-bottom: 0;
    border-radius: 0;
    background: #162B40;
}


.navbar-inverse .navbar-nav > li > a {
    color: #d7d5d5;
}

@media (max-width: 991px) {
    .navbar-right {
        float: left !important;
    }

}

@media (max-width: 575px){
    .navbar-right {
        float: none !important;
        display: block;
        margin: 0 auto;
    }
    .navbar-inverse .navbar-toggle {
        float: none;
        display: block;
        margin: 8px auto;
    }
}

/*font-awesome icons*/

ul.font-awesome {
    margin-right: 50px;
}

@media (max-width: 575px){
    ul.font-awesome {
        margin-left: 0;
        margin-right: 0;
    }
}


ul.font-awesome li {
    font-size: 25px;
    color: white;
}

/*jumbotron*/

.jumbotron {
    margin-bottom: 0;
    background: -webkit-linear-gradient(rgba(35,68,101,0.5), rgba(35,68,101,0.9)), url('../resources/img/gold.jpg');
    background: linear-gradient(rgba(35,68,101,0.5), rgba(35,68,101,0.9)), url('../resources/img/gold.jpg');
    background-position: center;
    background-size: cover;
    padding-bottom: 20px;
}

.jumbotron h1 {
    color: #F79C04;
    font-size: 50px;
    text-shadow: 2px 2px 5px #63651F;
}

@media (max-width: 767px) {
    .jumbotron h1 {
        font-size: 35px;
    }
}

@media (max-width: 575px) {
    .jumbotron h1 {
        font-size: 28px;
        text-align: center;
    }

    #index .jumbotron p {
        font-size: 17px;
        text-align: center;
    }

    .jumbotron p#rich {
        display: block;
        margin: 0 auto;
    }
}

.jumbotron p {
    font-weight: bold;
    color: white;
    font-size: 20px;
    clear: left;
    margin-top: 30px;
    margin-bottom: 30px;
}

.jumbotron .container {
    padding: 0 30px;
}

.jumbotron .btn-lg {
    background: #162B40;
    color: white;
    border: none;
}

.jumbotron .btn-lg:hover {
    background: white;
    color: #234465;
    font-weight: bold;
}

/*logo*/
img#logo {
    float: left;
    margin-right: 20px;
    height: 100px;
    width: 100px;
    -webkit-animation-name: spin;
    animation-name: spin;
    -webkit-animation-duration: 4s;
    animation-duration: 4s;
}

/*logo animation*/
@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@media (max-width: 575px) {
    img#logo {
        float: none;
        display: block;
        margin: 0 auto;
    }
}

/*rich animation*/

#rich {
    position: relative;
    max-width:160px;
}

#rich-man {
    position: absolute;
    top: -20px;
    left: 220px;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: none;
}

#rich:hover #rich-man{
    display: inherit;
    -webkit-animation-name: rich-man;
    animation-name: rich-man;
    -webkit-animation-duration: 4s;
    animation-duration: 4s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@-webkit-keyframes rich-man {
    from {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
    to {
        -webkit-transform: translateX(500px);
        transform: translateX(500px)
    }
}

@keyframes rich-man {
    from {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
    to {
        -webkit-transform: translateX(500px);
        transform: translateX(500px)
    }
}

@media (max-width: 575px){
    #rich:hover #rich-man{
        display: none;
    }
}

/*carousel*/

@media (max-width: 575px){
    .carousel-caption h3{
        font-size: 15px;
    }
    .carousel-caption p{
        font-size: 13px;
    }
}

/*aside*/
.panel img {
    width: 100%;
    height: 250px;
    display: block;
    margin: 0 auto;
}

section .title-container {
    border: 1px solid #ddd;
}

section .title-container h2 {
    margin: 0;
    padding: 10px 0;
}

h2.section-title {
    text-align: center;
    color: #234465;
    background-color: #f5f5f5;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: bold;
}

.panel-heading, .panel-footer {
    font-size: 17px;
    color: #234465;
}

.container aside {
    padding: 0;
}

aside .panel, aside .title-container {
    display: block;
    margin: 20px auto;
    text-align: center;
    max-width: 360px;
}

/*Nakov image on hover*/
#nakov {
    position: relative;

}
.imgDescription {
    position: absolute;
    bottom: 5%;
    font-size: 25px;
    color: #fff;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;

}
#nakov:hover .imgDescription {
    visibility: visible;
    opacity: 1;
}


#winners aside .title-container:first-of-type {
    margin-top: 0;
}

.panel-body {
    font-size: 18px;
}

.panel-body img {
    max-width: 350px;
    margin-bottom: 20px;
}

.large-panel {
    margin-top: 20px;
}

.panel-title {
    font-size: 30px;
}

.panel-heading {
    padding: 10px 0;
}

aside .panel-default:hover, .panel-body:hover {
    background: #ddd;
    -webkit-transition: background-color 1000ms linear;
    transition: background-color 1000ms linear;
}

#team main {
    margin-top: 20px;
}

.list-group li {
    font-size: 20px;
}

.panel-footer button {
    display: block;
    margin: 0 auto;

}

/*modal*/

.modal-content {
    background: #286090;
    color: white;
}

/*footer*/

footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 60px;
    background: #234465;
    color: white;
}

footer p {
    margin: 0 20px;
}

@media (max-width: 575px) {
    footer {
        min-height: 60px;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }

    footer p {
        font-size: 13px;
    }

}

.back-to-top {
    background: none;
    margin: 0;
    position: fixed;
    text-align: center;
    bottom: 0;
    right: 0;
    width: 80px;
    height: 60px;
    font-size: 15px;
    line-height: 60px;
    z-index: 100;
    display: none;
    text-decoration: none;
    color: #ffffff;
    background: #F79C04;
}

.back-to-top:hover {
    color: white;
    text-decoration: none;
    background: #F77C04;
}


