/*fonts*/
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono|Rubik');

/*navbar*/

.navbar{
    margin-bottom: 0;
    border-radius: 0;
    background: #162B40;
}

body {
    font-family: 'Roboto Mono', monospace;
}

/*jumbotron*/
.jumbotron {
    margin-bottom: 0;
    background: #234465;
}

.jumbotron h1{
    color: #F79C04;
    font-family: "Roboto",sans-serif;
    font-size: 50px;
}

.jumbotron p {
    font-weight: bold;
    color: white;
    font-size: 20px;
}

/*logo*/
img#logo {
    float: left;
    margin-right: 20px;
    height: 100px;
    width: 100px;
}